*{
    box-sizing: border-box;
}

body{
    /*background: black url("../img/bg_dif.png") no-repeat fixed center;*/
    background: linear-gradient(to right, rgba(0,0,0,1) 20%, transparent 50%, rgba(0,0,0,1) 80%), url("../img/control.jpg") no-repeat fixed center;
    background-size: auto 100%;
    color: white;
}

h1{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 6vw;
	margin: 0;
	font-family: 'frozen', serif;

  	background-clip: text;
	-webkit-background-clip: text;
    background-size: contain;
	width: 100%;
	text-align: center;

    color: #fff;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

h2{
    width: 99%;
    position: fixed;
    top: 22vh;
    text-align: center;
    
    color: #fff;
    font-size: 3.5vw;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #929292, 
    0 3px 0 rgb(100, 100, 100), 
    0 4px 0 #414141, 
    0 5px 0 rgb(0, 0, 0), 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

div{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    position: absolute;
    top: 47.5%;
    width: 95%;
    color: lightgray;
    background-color: black;
    border-collapse: collapse;
    text-align: center;
}

th{
    background: linear-gradient(to bottom, rgb(0, 3, 187) 10%, rgb(0,0,0) 50%, rgb(0, 3, 187) 90%);
    color: darkgrey
}

td, th{
    padding: 2vh 1.5vw;
    box-sizing: border-box;
    overflow: auto;
}

.back{
    position: fixed;
    left: 35vw;
    top: 35vh;
    background-color: greenyellow;
    color: black;
    height: 10vh;
    width: 25vw;
    cursor:pointer;
}

.back:hover{
    background-color: rgb(205, 255, 131);
}

.back:active{
    background-color: rgb(205, 255, 131);
}

.error{
    position: absolute;
    top: 47.5%;
    width: 99%;
    color: red;
    background-color: transparent;
	text-shadow: 0px 1px 0px #855, 0px 2px 0px #844, 0px 3px 0px #833, 0px 4px 0px #822, 0px 5px 0px #811, 0px 6px 0px #800, 0px 7px 0px #333, 0px 8px 7px #001135;
    margin: 0 auto;
    font-size: 6vw;
    text-align: center;
}

@keyframes glow{
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0472da, 0 0 20px #0472da, 0 0 25px #0472da, 0 0 30px #0472da, 0 0 35px #0472da;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #16a9ee, 0 0 20px #16a9ee, 0 0 25px #16a9ee, 0 0 30px #16a9ee, 0 0 35px #16a9ee, 0 0 40px #16a9ee;
    }
  }
  
@font-face{
	font-family:'frozen'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}